.main-user{
    position: relative;
    top: 7.5vh;
    left: 15%;
    min-height: 92.5vh;
    width: 85%;
    background-color: #F4F5F7;
}

.main-section-container{
    min-height: 80vh;
    width: 100%;
    padding: 1vh 1vw;
}

.main-content{
    width: 100%;
    min-height: 82vh;
    border-radius: 10px;
    background-color: #F4F5F7;
    box-shadow: 0 0 10px rgb(196, 192, 192);
}
